.roomContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomSide {
  height: 800px;
  flex: 1;
  background-color: #B0C4DE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.roomSideTop {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.roomSideTop p {
  margin: 5px;
}

.roomId {
  color: #770000;
}

.codeHint {
  font-size: 18px;
  font-style: italic;
}

.roomSideMiddle {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomSideBottom {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
