.board {
  margin: 0 20px;
  height: 800px;
  width: 400px;
  /* border-bottom: 20px solid #8bb0da; */
  /* border-left: 120px solid #8bb0da;
  border-right: 120px solid #8bb0da; */
  /* border-top: 48px inset black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ffe6e6;
  border-radius: 5px;
}

.block {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  /* border-radius: 1px; */
  position: relative;
}

.colored {
  border: 0.3px solid #F0F0F0;
  filter : brightness(90%);
}

.red {
  background-color: #ff4236;
}

.red1 {
  background-color: #ff0000;
}

.red2 {
  background-color: #990000;
}

.red3 {
  background-color: #AA0000;
}

.red4 {
  background-color: #BB0000;
}

.red5 {
  background-color: #CC0000;
}

.red6 {
  background-color: #DD0000;
}

.red7 {
  background-color: #EE0000;
}

.blue {
  background-color: #4c51fb;
}

.yellow {
  background-color: #ffe800;
}

.green {
  background-color: #00cc00;
}

.purple {
  background-color: #cc00aa;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: #ff8c1a;
}

.black {
  background-color: black;
}

.ghost {
  background-color: #FFF;
  opacity: 0.4;
  filter : brightness(80%);
}
