.board {
  height: 800px;
  width: 400px;
  /* border-bottom: 20px solid #8bb0da; */
  /* border-left: 120px solid #8bb0da;
  border-right: 120px solid #8bb0da; */
  /* border-top: 48px inset black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-items: flex-end;
  justify-content: flex-end; */
  background-color: black;
  border-radius: 5px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transform: rotate(180deg);
}

.boardWrapper {
    border: solid 3px #E500F9;
    border-radius: 10px;
    box-shadow: 0 0 3px #E500F9;
    height: 100%;
}

.boardGameOver > .block {
  opacity: 0.3;
}

.board-container {

  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* /* box-sizing: border-box; */
  position: absolute;
  width: 400px;
}

.timer {
  font-size: 90px;
  color: #EB00FF;
  z-index: 2;
}

.gameOver {
  font-size: 50px;
  color: #EB00FF;
  font-style: italic;
  font-weight: bold;
  z-index: 2;
  margin-top: -100px;
  /* transform: rotate(-50deg); */
}

.block {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;

}

.colored {
  border: 0.3px solid black;
}

.red {
  background-color: #0029FF;
}

.red1 {
  background-color: #ff0000;
}

.red2 {
  background-color: #990000;
}

.red3 {
  background-color: #AA0000;
}

.red4 {
  background-color: #BB0000;
}

.red5 {
  background-color: #CC0000;
}

.red6 {
  background-color: #DD0000;
}

.red7 {
  background-color: #EE0000;
}

.blue {
  background-color: #00E0FF;
}

.yellow {
  background-color: #FFFF52;
}

.green {
  background-color: #00FF38;
}

.purple {
  background-color: #6100FF;
}

.pink {
  background-color: #F169FD;
}

.orange {
  background-color: #FFB800;
}

.black {
  background-color: #2A2828;
}

.ghost {
  background-color: #FFF;
  opacity: 0.4;
  filter : brightness(80%);
}
