.ghostContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 120px;
  position: absolute;
  /* height: 300px; */
}

.ghostWrapper {
  border: solid 3px #00E0FF;
  border-radius: 10px;
  box-shadow: 0 0 3px #00E0FF;
  background-color: black;
}

.ghostPlayerName {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boardGhost {
  height: 240px;
  width: 120px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* .boardGhost p {
  transform: rotate(-60deg);
  margin: 0;
  white-space: nowrap;
} */

.waitingGhost {
  opacity: 0.5;
  z-index: 2;
}

.waitingGhost p {
  font-style: italic;
  transform: rotate(-60deg);
  margin: 0;
  white-space: nowrap;
}

.readyGhost {
  /* filter: brightness(70%); */
  background-color: #333333;
  z-index: 2;
}

.readyGhost p {
  font-size: 20px;
  color: #fff;
}

.blockGhost {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

.plain {
  background-color: #770000;
}

.boardGhostGameEnded {
  filter: brightness(90%);
  z-index: 2;
}

i {
  opacity: 1;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.7); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-blue { color: #00E0FF }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
